body table {
  border-spacing: 0;
  border: solid 1px black;
  margin: 100px auto;
}
body table tr td {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  text-align: center;
}
body table tr td .counter {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: -35px;
}
body table tr td.black {
  background-color: #566;
}
body table tr td.white {
  background-color: azure;
}
body table tr td.selected {
  border: 3px solid red;
  height: 96px;
  width: 96px;
}
body table tr td.selectable {
  cursor: pointer;
}
body table tr td.possibleMove {
  border: 3px solid blue;
  height: 96px;
  width: 96px;
  cursor: pointer;
}
body .hidden {
  display: none;
}